/* Temperature converter CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
  }
  
  :root {
    --largeHeading: 1.3rem;
    --smallHeading: 0.9rem;
    --lightColor: rgb(48, 48, 48);
    --darkColor: rgb(17, 17, 17);
  }
  
  html {
    scroll-behavior: smooth;
  } 
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, rgb(9, 172, 131), rgb(72, 64, 136), rgb(175, 11, 66)); */
    background-image: linear-gradient(22deg,#87CEEB,#87CEEB);
  }
  #container {
    position: relative;
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

  #heading {
    margin: 5px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(244, 220, 67);
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
  }
  #calculations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 15px 25px;
    color: var(--darkColor);
    font-size: var(--smallHeading);
    background-color: rgb(161, 222, 184);
    box-shadow: 0.1px 0px 3px rgb(227, 10, 10);
  }
  
  /* Content division */
  .content-division {
    width: 100%;
  }
  
  /* Sub-heading */
  .division-heading {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--smallHeading);
    font-weight: 550;
    color: var(--lightColor);
    padding: 0px 5px;
    margin: 5px 0px 10px 0px;
  }
  
  .division-heading::before,
  .division-heading::after {
    position: absolute;
    top: 50%;
    content: "";
    width: 70px;
    height: 1px;
    background-color: var(--lightColor);
  }
  
  .division-heading::before {
    left: 100%;
    transform: translateY(-50%);
  }
  
  .division-heading::after {
    right: 100%;
    transform: translateY(-50%);
  }
  
  /* Inputs container */
  .inputs-container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
  }
  
  /* Input elements (input boxes, dropdowns, button) */
  .inputs {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: var(--smallHeading);
  }
  .button1 {
    display: inline-block;  
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #d7825d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button1:hover {
    background-color: #97e049;
  }
  
  .button1:active {
    background-color: #86e354;
  }
  
  /* Input fields and select dropdowns */
  .input-field,
  .dropdown {
    padding: 5px 10px;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
  }
  
